In [7]:
import glob
import os

import pandas as pd
from bs4 import BeautifulSoup as bs

In [22]:
# which is my path
print(os.getcwd())
# print folder list
# os.listdir(os.curdir)
# os.chdir('data')
# os.chdir('html_job_postings')
# get a list of the files in the html directory
files = glob.glob('*.html')
len(files)

/Users/mpietro/projects/manning/resume-job-posting-nlp-project/data/html_job_postings

1337

In [23]:
# load HTML pages as text list
html_content = []
for file in files:
    with open(file, 'r') as f:
        html_content.append(f.read())

In [24]:
def get_html_content(html_pages):
    """
    Extracts title, body, and list items (bullets) from HTML job postigs.
    Returns a pandas dataframe with separate columns for title, body, and bullet items.S
    """
    html_sections = []
    html_dict = {}
    for key in ['title', 'body', 'bullets']:
        html_dict[key] = []

    for html in html_content:
        soup = bs(html, 'lxml')
        title = soup.find('title').text
        body = soup.find('body').text
        bullets = soup.find_all('li')
        html_dict['title'].append(title)
        html_dict['body'].append(body)
        # remove extra leading and trailing whitespace with strip()
        html_dict['bullets'].append([b.text.strip() for b in bullets])
    
    df = pd.DataFrame(html_dict)
    
    return df

In [27]:
df = get_html_content(html_content)
df.head()

,title,body,bullets
0,"Quantitative Analyst - Boston, MA 02116","Quantitative Analyst - Boston, MA 02116\nQuant...",[]
1,"Data Scientist - Mountain View, CA","Data Scientist - Mountain View, CA\nGroundTrut...","[Help senior members of the team to explore, d..."
2,"Data Scientist - Seattle, WA","Data Scientist - Seattle, WA\nA Bachelor or Ma...",[A Bachelor or Masters Degree in a highly quan...
3,Senior Natural Language Processing (NLP) Engin...,Senior Natural Language Processing (NLP) Engin...,[Join a small team creating a proprietary NLU ...
4,"FLEXO FOLDER GLUER OPER - McClellan, CA - McCl...","FLEXO FOLDER GLUER OPER - McClellan, CA - McCl...",[]

In [28]:
df.shape

(1337, 3)

In [29]:
#create a tuple to remove duplicates from list
df['bullets'] = df['bullets'].apply(tuple, 1)
df.drop_duplicates(inplace=True)

df.shape

(1328, 3)

In [31]:
#saving the data set created in the data folder
df.to_pickle('../step1_df.pk')